*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #ffffff;
}

.mobile{
    display: block;
}

.desktop{
    display: none;
}

.bg-naranja{
    background-color: #f91202;
}

.color-naranja{
    color: #f91202;
}

#main-banner{
    background-color: #000000;
    width: 100%;
    padding: 1em;
}

#main-banner img{
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: auto;
}

#slide-home{
    border-top: solid 3px #ffffff;
    border-bottom: solid 3px #ffffff;
}

#slide-home img{
    display: block;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
}

#actividades{
    background-color: #f91202;
    padding: 3em 9%;
}

#actividades h1{
    margin-bottom: 2em;
}

#actividades>ul{
    position: relative;
}

#actividades ul>li:nth-child(odd){
    margin-left: auto;
}



#actividades ul li.item-activ{
    border: solid 2px #ffffff;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    padding-right: 6em;
    width: fit-content;
    transition: all .2s ease;
}

/* #actividades ul li.item-activ:hover{
    font-size: ;
} */

.content-activ{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#actividades ul li.item-activ img{
    position: absolute;
    right: -8em;
    top: -4em;
}

#actividades ul li.item-activ h2{
    flex: 1;
}

#agenda{
    background-color: #000000;
    padding: 3em 9%;
    border-top: solid 3px #ffffff;
    border-left: none;
}

#agenda ul li{
    margin-bottom: 3em;
}




@media (min-width: 1000px) {

    .mobile{
        display: none;
    }

    .desktop{
        display: block;
    }

    #main-banner{
        padding: 3em;
    }

    #slide-home{
        border-top: solid 6px #ffffff;
        border-bottom: solid 6px #ffffff;
    }

    main{
        flex-direction: row;
    }

    #actividades{
        padding: 3.5em 10%;
        flex: 1;
    }

    #agenda{
        border-left: solid 6px #ffffff;
        border-top: none;
        width: 30%;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        padding: 3.5em 10% 2em 3em;
    }


}


@media (min-width: 1300px){

    /* main{
        min-height: 100vh;
    } */

    #actividades>ul{
        min-height: 450px;
    }

    #actividades ul>li.item-activ:nth-child(odd){
        margin-left: 0;
    }

    #actividades ul>li.item-activ{
        position: absolute;
    }

    /*Para los más peques*/
    #actividades ul>li.item-activ:nth-child(1){
        top: 0;
        right: 0;
    }

    /*Realidad virtual*/
    #actividades ul>li.item-activ:nth-child(2){
        left: 0;
        top: 7em;
    }

    /*Metegol*/
    #actividades ul>li.item-activ:nth-child(3){
        left: 330px;
        top: 10em;
    }

    /*Desafío penales*/
    #actividades ul>li.item-activ:nth-child(4){
        left: 0;
        bottom: 4em;
    }

    /*Maquillaje artístico*/
    #actividades ul>li.item-activ:nth-child(5){
        right: 0;
        bottom: 0;
    }

}

@media (min-width: 1400px) {
    /*Metegol*/
    #actividades ul>li.item-activ:nth-child(3){
        left: 40%;
        top: 10em;
    }
}