*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #ffffff;
}

.mobile{
    display: block;
}

.desktop{
    display: none;
}

.bg-naranja{
    background-color: #f91202;
}

.color-naranja{
    color: #f91202;
}

#main-banner{
    background-color: #000000;
    width: 100%;
    padding: 1em;
}

#main-banner img{
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: auto;
}

#slide-home{
    border-top: solid 3px #ffffff;
    border-bottom: solid 3px #ffffff;
}

#slide-home img{
    display: block;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
}

#actividades{
    background-color: #f91202;
    padding: 2em 9%;
}

#agenda{
    background-color: #000000;
}


@media (min-width: 1000px) {

    .mobile{
        display: none;
    }

    .desktop{
        display: block;
    }

    #main-banner{
        padding: 3em;
    }

    #slide-home{
        border-top: solid 6px #ffffff;
        border-bottom: solid 6px #ffffff;
    }

    main{
        flex-direction: row;
    }

    #actividades{
        padding: 3.5em 10%;
        flex: 1;
    }

    #agenda{
        width: 30%;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        padding: 3.5em 10% 2em 3em;
    }

}